.newspaperImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 2em;
}


.articleList{
    width: 80%;
    margin: auto;
    text-align: center;
}

.article{
    border-style: double;
    background-color: blue;
    margin:1em
}

.articleImage {
    border-radius: 60px;
    max-width: 15rem;
    max-height: 15rem;
}