.newspaperImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 2em;
    width: 100%;
    max-height: 30em;
}

.featuredArticles{
    text-align: center;
    font-size: xx-large;
}

.articleList{
    width: 100%;
    text-align: center;
    display: grid;
    grid-template-columns: minmax(1.2rem, 2fr) minmax(1.2rem, 2fr) minmax(1.2rem, 2fr) ;
    gap:.5rem;
}
@media  (min-width: 900px) {
    .articleList{
    gap:2.5rem;
    }
}

.article{
    border-style: double;
    background: linear-gradient(#e0ffff 75%, #9bddff);

height: 105%;


}

.articleText {
font-size: 5vw;

}

.articleImage {
    width:100%;
    max-height: 15rem;
 height: 30%;
}
a{
    text-align: center;
    font-size: 5vw;
    color:black;
}
