.headerImage{
    width: 100%;
    max-height: 50em;
}
@media (min-width: 700px){
    .headerImage{
        max-height: 30em;
        /* margin-left: 2em; */
        /* margin-right: 5em; */
    }
}
footer{
    width: 100%;
    height: 5em;

    text-align: center;
    background-color: purple;

}

.copyright {
    padding-top: 2em;
}
/* .footerListItems {
list-style: none;
display: inline-flex;
}

.footerListItem {
    margin: 1em;

}
.footer-link {
    font-size: 2.5vh;
} */

main {
    margin-left: 5em;
    margin-right: 5em;
}

@media (max-width:900px) {
    main{
        margin: 0;
    }
}


:root {
    --yellow: #ffc600;
    --black: #272727;
  }
